@import "partials/color";
@import "partials/font";
@import "partials/modules";
@media (max-width: 768px) {
	nav > ul {
		flex-flow: column nowrap;
		align-items: flex-end;
	}

	li a{
		font-size: 20px;

	}

	header > div > h1{
		font-size: 27px;
	}

	.sidebar{
		order: 3;
		padding-top: 20px;
	}

	.mainblock{
		order: 1;
	}
}

body{
	margin-left: 100px;
	margin-right: 100px;
	// width: 100%;
	display: flex;
	min-height: 95vh;
	flex-direction: column;
}

header{
	font-family: Cinzel;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;


	h1{
		width: 100%;
		display: flex;
		justify-content: center;
	}


	nav{

		width: 100%;

		ul{
		display: flex;
		justify-content: space-around;
		list-style: none;

			li{
				font-size: 23px;

				a{
					color: $p2;

				}
				a:hover{
					text-decoration: none;
				}
			}
		}
	}
}

footer{
	display: flex;
	font-family: Kameron;
	align-self: flex-end;
}

.mainblock{
	display: flex;
	flex-flow: column nowrap;

	h4 {
		align-self: center;
	}
}

.sidebar{
	// flex-flow: column wrap;
	padding-right: 5px;
}

#top {
	display: flex;
	justify-content: center;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	padding-top: 10px;
	padding-bottom: 30px;
}

#bottom {
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	padding-bottom: 10px;
}

.content{
	font-family: Kameron;
	flex: 1;
}

